
/*スマートフォン*/
@media all and (max-width:670px){

.header-contants{
  padding-right:20%;
  padding-left:20%;
  margin:0 auto;
  }

.menu-icon{
  display: block;
  vertical-align: middle;
  display: inline-block;
  margin:0px;
  font-size:30px;
}
  
.main-contants{
  padding-right:20%;
  padding-left:20%;
  max-width:100%;
  margin: 0 auto;
}

.description{
  clear:left;
  max-width:100%;
  margin:0 auto;
  }

.contants{
  padding: 0;
}

.box-text{
  max-width:100%;
  max-height:300px;
}

.description-link a{
  float:right;
}

.header-list{
  display: none;
}

  a .twitter-timeline{
    clear:right;
    margin:0 auto;
    max-width:100%;
  }

}

/*タブレット*/
@media all and (max-width:1000px){
 
  .header-contants{
    width:800px;
    margin:0 auto;
  }

.menu-icon{
  margin:0px;
  font-size:25px;
}
  
.main-contants{
  max-width:800px;
  margin: 0 auto;
}

.description{
 display: inline-block;
  float:left;
  padding-right:100px;
  margin-right:50px;
  }

.contants{
  max-width:100%;
  height:300px;
  margin-bottom:50px;
  padding:0px 30px;
  display: table;
}

.box-text{
  max-width:100%;
  max-height:300px;
}

.description-link a{
  float:right;
}

.header-list{
  display: none;
}

  a .twitter-timeline{
    clear:right;
    margin:0 auto;
    max-width:100%;
  }

}
