
/*スマートフォン*/
@media all and (max-width:670px){

.header-contants{
  width:500px;
  margin:0 auto;
}

.menu-icon{
  display: block;
  vertical-align: middle;
  display: inline-block;
  margin:0px;
  font-size:30px;
}
  
.main-contants{
  width:500px;
  margin:0 auto;
  }


  
.top-wrapper{
  background-image: url("Photo by rawpixel.com on Unsplash.jpg");
  max-width:100%;
  top:0px;
  position: relative;
}


.description{
  clear:left;
  max-width:100%;
  margin:0 auto;
  border:solid 1px yellow;
  padding:0;
  }

.contants{
    background-color:rgba(255,255,255,1);
    width:100%;
    height:300px;
    margin:0 auto;
    display: table;
    border:solid 1px purple;
    margin-bottom:20px;
  }

.box-text{
  width:100%;
  height:300px;
}

.description-link a{
  float:right;
}

.header-list{
  display: none;
}
  
  a .twitter-timeline{
    clear:right;
    margin:0 auto;
    max-width:100%;
  }

}

/*タブレット*/
@media all and (max-width:1000px){
 
  .header-contants{
    width:800px;
    margin:0 auto;
  }

.menu-icon{
  margin:0px;
  font-size:25px;
}
  
.main-contants{
  max-width:800px;
  margin: 0 auto;
}

.description{
 display: inline-block;
  float:left;
  padding-right:100px;
  margin-right:50px;
  }

.contants{
  max-width:100%;
  height:300px;
  margin-bottom:50px;
  padding:0px 30px;
  display: table;
}

.box-text{
  max-width:100%;
  max-height:300px;
}

.description-link a{
  float:right;
}

.header-list{
  display: none;
}

  a .twitter-timeline{
    clear:right;
    margin:0 auto;
    max-width:100%;
  }

}
